/* 회색 테두리 : c4b099 */
/* 배경 : b17d55 */
/* border-bottom : ffedc6 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: middle;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #b17d55;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
    padding: 0 100px;
    background: #b17d55;
}

.left_padding {
    position: fixed;
    width: 100px;
    height: 100%;
    left: 0;
    background: #b17d55;
    border-right: 1px solid #c4b099;
}

.left_padding img {
    margin-left: 25px;
    margin-top: 25px;
}

.right_padding {
    position: fixed;
    width: 100px;
    height: 100%;
    right: 0;
    background: #b17d55;
    border-left: 1px solid #c4b099;
}

/* .slick-prev.slick-arrow {
    display: none;
} */

button.slick-arrow {
    display: none;
}

.slide {
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
}

.slide ul li h1 {
    z-index: 999;
    color: #fff;
    font-size: 40px;
    position: absolute;
    margin-left: 110px;
    bottom: 10%;
}

.slide::after {
    content: '';
    width: 92%;
    height: 60px;
    border-top: 1px solid #c4b099;
    z-index: 800;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* 화살표 */
.slick-arrow {
    z-index: 999; /* prev버튼은 위치 이동시 이미지 뒤로 숨겨짐 */
    position: absolute; /* 원하는 위치에 지정  */
    bottom: 2%;
    width: 30px;
    height: 30px;
}
.slick-prev.slick-arrow {
    /* prev 이전 */
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    right: 200px;
    background: none;
    color: #fff;
    border: none;
}

.slick-prev.slick-arrow:focus,
.slick-next.slick-arrow:focus {
    outline: 0;
}

.slick-next.slick-arrow {
    /* next 다음 */
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    right: 100px;
    background: none;
    color: #fff;
    border: none;
}

.slick-next.slick-arrow:hover,
.slick-prev.slick-arrow:hover {
    color: #e2c7b3;
    transform: scale(1.1);
}

/* 아래점 */
.slick-dots {
    text-align: center;
}
.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}
.slick-prev slick-arrow {
    display: none;
}

.slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* content */

.intro {
    position: relative;
    width: 100%;
    min-height: 110vh;
    margin: 100px 0px;
}

.intro_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.intro::before,
.intro::after {
    content: '';
    display: block;
    width: 15px;
    margin: 0 auto;
    border-bottom: 1px solid #ffedc6;
}

.intro_title {
    position: absolute;
    font-weight: bold;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    padding-top: 16px;
    z-index: 999;
}

.intro_description {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 50px 0px;
}

.intro_des_text {
    width: 100%;
    height: 100%;
    /* background: grey; */
    padding: 52px 0px 52px 52px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}
.intro_des_img {
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* background: #000; */
    overflow: hidden;
    position: relative;
}

.intro_des_img::before {
    content: '36+';
    font-size: 92px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 180px;
    width: 240px;
    height: 240px;
    border: 1px solid #c4b099;
    bottom: 52px;
    left: 52px;
    position: absolute;
    z-index: 999;
}
.intro_des_img::after {
    content: 'Now-Official Recipe';
    font-size: 20px;
    text-align: left;
    color: #fff;
    line-height: 18;
    padding-left: 32px;
    width: 240px;
    height: 240px;
    bottom: 52px;
    left: 52px;
    position: absolute;
    z-index: 999;
}

.intro_des_img_img {
    width: 100%;

    min-height: 100vh;
    z-index: 1;
    position: relative;
}

.intro_des_img_img img {
    position: absolute;
    /* top: -100px; */
    width: 120%;
    height: 100%;
    object-fit: cover;
}

/* .intro_des_img div {
    width: 95%;
    height: 100%;
    background-image: url('https://www.vegemil.co.kr:10001/Main/beanSoup/assets/img/project/mainNow.jpg');
} */

.intro_des_img div {
    width: 80%;
    height: 100%;
    background: red;
}

.intro_des_txt1 {
    font-weight: bold;
    width: 100%;
    margin: 70px 0 30px 0;
    color: #fff;
}

.intro_des_txt1 p {
    font-size: 24px;
    line-height: 2;
}

.intro_des_txt1 p:last-child {
    padding-bottom: 40px;
}

.intro_des_txt1::after {
    content: '';
    display: block;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #c4b099;
}

.intro_des_txt2 {
    width: 100%;
    margin: 20px 0 30px 0;
    color: #fff;
}

.intro_des_txt2 p {
    font-size: 20px;
}

.intro_des_txt2 p:last-child {
    padding-bottom: 60px;
}

.intro_des_txt2::after {
    content: 'Ingredient';
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #c4b099;
}

.intro_des_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.intro_des_container_right,
.intro_des_container_left {
    min-width: 40%;
    height: 200px;
    border: 1px solid #c4b099;
}

.intro_des_container_left_box {
    position: relative;
    width: 95%;
    height: 65%;
    margin: 8px auto;
    border: 1px solid #c4b099;
    display: flex;
}

.intro_des_container_left_box_persent {
    width: 60%;
    height: 100%;
}

.intro_des_container_left_box_persent span {
    font-size: 40px;
    color: #fff;
    line-height: 2;
    margin-left: 8px;
    font-weight: bold;
}

.intro_des_container_left_box_text {
    width: 40%;
    height: 100%;
}

.intro_des_container_left_box_text p {
    font-size: 18px;
    color: #fff;
    padding-top: 16px;
}

.intro_des_container_right_box {
    position: relative;
    width: 95%;
    height: 90%;
    margin: 8px;
    border: 1px solid #c4b099;
    display: flex;
    flex-direction: column;
    padding: 16px 12px 8px 12px;
}

.intro_des_container_right_box span {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.intro_des_container_right_box div p {
    color: #fff;
    font-weight: bold;
}

.intro_des_container_right_box p {
    color: #fff;
}

/* about */

.about {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 100px 0px;
    /* background: #ccc; */
}

.about_title {
    width: 100%;
    height: 150px;
    letter-spacing: 4px;
    text-align: center;
    padding-right: 15px;
}

.about_title h4 {
    color: #ffedc6;
}

.about_title h1 {
    color: #fff;
    font-size: 32px;
}

.about_content {
    width: 100%;
    height: 75vh;
    /* background: #000; */
    display: flex;
}

.about_img {
    width: 34%;
    /* background: rgb(101, 80, 117); */
}

.about_img h2 {
    text-align: center;
}

.about_img h2 img {
    width: 80%;
}

.about_recipe {
    width: 66%;
    /* background: rgb(136, 124, 130); */

    display: flex;
}

.about_recipe > div {
    width: calc(100% / 3);
}

.recipe_1,
.recipe_2,
.recipe_3 {
    /* background: rgb(103, 107, 94); */
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
/* 3등분 */
.recipe_1 {
    width: 100%;
    height: 100%;
    /* background: blue; */
}
/* 3등분을 2등분 */
.recipe_container {
    width: 100%;
    height: 50%;
}
/* 6등분의 100% */
.recipe_box {
    width: 100%;
    height: 100%;
    /* background: #000; */
    position: relative;
}

.recipe_book {
    width: 75%;
    height: 75%;
    border: 1px solid #c4b099;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    font-size: 18px;
}

.recipe_book2 {
    width: 75%;
    height: 75%;
    border: 1px solid #c4b099;
    position: absolute;
    left: 50%;
    bottom: -5%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    padding: 15px;
    font-size: 18px;
}

.recipe_book:nth-child(1),
.recipe_book2:nth-child(1) {
    z-index: 999;
}

.recipe_book::after,
.recipe_book2::after {
    content: '';
    font-size: 20px;
    text-align: left;
    line-height: 18;
    width: 125%;
    height: 110%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #c4b099;
    border-top: 1px solid #c4b099;
}

.recipe_book::before,
.recipe_book2::before {
    content: '';
    font-size: 20px;
    text-align: left;
    line-height: 18;
    width: 110%;
    height: 125%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-right: 1px solid #c4b099;
    border-left: 1px solid #c4b099;
}

.recipe_book img,
.recipe_book2 img {
    width: 118px;
    height: 84px;
}

/* main_recipe */

.main_recipe {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 100px 0px;
    background-image: url('https://www.vegemil.co.kr:10001/Main/beanSoup/assets/img/project/recipe_s01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_recipe ul {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 320px;
    display: flex;
}

.main_recipe ul li {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border: 1px solid #c4b099;
    position: relative;

    text-align: center;
    color: #fff;
    line-height: 35px;
}

.main_recipe ul li img {
    width: 68px;
    height: 68px;
}

.best_recipe {
    position: absolute;
    width: 600px;
    height: 550px;
    background: #fff;
    right: 80px;
    bottom: 0;
    padding: 60px;
}

.best_recipe h3 {
    color: #d25600;
    padding-top: 20px;
    letter-spacing: 4px;
}

.best_recipe h1 {
    font-size: 40px;
    padding-left: 4px;
    margin: 20px 0px 30px 0px;
}

.best_recipe p {
    font-size: 18px;
    line-height: 2rem;
}

.best_recipe div {
    cursor: pointer;
    margin-top: 20px;
    width: 220px;
    height: 40px;
    line-height: 0px;
    background: none;
    color: #d25600;
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    border: 2px solid #d25600;
    transition: hover 0.6s;
    position: relative;
    overflow: hidden;
    z-index: 2;
    transition: 0.3s;
}

.best_recipe div:hover {
    margin-left: 5px;
}
